main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container-form {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.container-form form {
  display: flex;
  flex-direction: column;
}

.container-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.container-form textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
}

.container-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  width: fit-content;
}

.container-form button:hover {
  background-color: #2980b9;
}

.error {
  color: red;
}
